.introducao{
    text-align: justify;
}

h2{
    font-size: 35px;
    color: rgb(22, 22, 22);
    margin-top: 40px;
    margin-bottom: 10px;
    clear: both;
}

p{
    font-size: 19px;
    text-align: justify;
}

blockquote{
    background-color: rgb(187, 187, 187);
    padding: 20px;
    border: 7px inset;
    margin: 20px;
    margin-bottom: 50px;
    box-sizing: border-box;
    width: 250px;
}

blockquote p{
    text-align: center;
    margin-bottom: 10px;
    font-size: 19px;
}

cite{
    font-size: 17px;
    font-style: italic;
    margin: 2px;
    margin-top: 15px;
    float: right;
}

.como-trabalho{
    float: left;
    margin-top: 2px;
}

.experiencia{
    float: right;
    margin-top: 2px;
}
