body{
    font-family: "Crimson Text", "Times New Roman", serif;
    background-color: #F2FFFC;
    line-height: 1.1;
}

header{
    float: left;
    width: 85%;
    margin-bottom: 20px;
}

.title{
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    padding-top: 0px;
    background-color: rgb(42, 148, 197);
    color: #F2FFFC;
    border-bottom: 2px solid black;
}

em{
    font-style: italic;
}

main{
    float: left;
    width: 70%;
}

.container{
    width: 1100px;
    margin: auto;
}

aside{
    background-color: rgb(42, 148, 197);
    color: gray;
    text-align: center;
    font-size: 22px;
}

.rodape{
    background-color: rgb(12, 12, 12);
    color: rgb(238, 238, 238);
    clear: both;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
}

.fim-pagina{
    margin-bottom: 100px;
}

a{
    color: rgb(42, 148, 197);
    font-weight: bold;
}

nav li{
    margin: 5px;
}

nav a{
    color: white;
}

.github {
	background-image: url(../img/github.png);
}

.twitter {
	background-image: url(../img/twitter.png);
}

.linkedin {
	background-image: url(../img/linkedin.png);
}

.icones-redes-sociais a{
    width: 40px;
    height: 40px;
    display: block;
    text-indent: -99999px;
}

.icones-redes-sociais li{
    display: inline-block;
    margin: 5px;
}

.minha-foto, .navegacao-site{
    float: right;
    box-sizing: border-box;
    border-left: 3px solid black;
    border-bottom: 3px solid black;
}

.minha-foto{
    position: absolute;
    top: 0;
    right: 0;
}
.navegacao-site{
    position: relative;
    top: 172px;
    width: 12%;
}
